.cart__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* padding: 10px; */
  background-color: var(--main-backgroung-gray-color);
  border-bottom: 1px solid gray;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.cart__item__image {
  object-fit: contain;
}

.cart__item__name {
  width: auto;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 200px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 18px;
    width: 600px;
  }
}

.cart__item__checkout__name {
  display: -webkit-box;
  max-width: 100px;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cart__item__name__link {
  width: auto;
  text-decoration: none;
  color: var(--main-black-color);
  &:hover {
    color: rgb(2, 2, 155);
  }
}

.cart__item__price {
  min-width: 120px;
  font-size: 16px;
  text-align: right;
}

.cart__item__quantity__wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart__item__quantity {
  font-size: 20px;
  font-weight: 500;
}

.cart__item__totalLine {
  min-width: 120px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
}

.cart__item__totalLine__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cart__item__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(117, 126, 140);
  border: none;
  background-color: transparent;
  cursor: pointer;
}
