.search {
  position: absolute;
  top: -66px;
  left: 10px;
  width: 355px;
  height: 56px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  border-radius: 10px;

  transition: top 0.5s ease;

  @media screen and (min-width: 768px) {
    position: relative;
    top: unset;
    left: unset;
    height: 56px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.searchActive {
  top: 110px;
  @media screen and (min-width: 768px) {
    top: unset;
  }
}

.searchIcon {
  position: absolute;
  top: 50%;
  height: 24px;
  width: 24px;
  padding-left: 10px;
  translate: 0 -50%;
}

.searchInput {
  flex-grow: 1;
  height: 56px;
  padding-left: 40px;
  background-color: var(--main-backgroung-gray-color);
  border: none;
  border-radius: 10px;
}

.resetTextButton {
  position: absolute;
  right: 30px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    right: 105px;
  }
}

.searchButton {
  display: none;
  @media screen and (min-width: 768px) {
    display: unset;
    position: absolute;
    right: 10px;
    width: 90px;
    height: 40px;

    padding-left: 10px;
    padding-right: 10px;

    /* background-color: hsl(22, 100%, 50%); */
    background-color: var(--goldenrod-color);
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
}
