.products__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 30px;
}

.product__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 450px;
}

.product__item__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-black-color);
  text-decoration: none;
}

.product_item__image {
  object-fit: contain;
}

.product__item__price {
  padding: 10px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

.product__item__available {
  color: green;
  text-align: center;
}

.product__item__name {
  height: 58px;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product__item__button {
  width: 120px;
  height: 35px;
  margin: 5px 0 0 0;
  padding: 5px;
  color: white;
  text-align: center;
  border-radius: 6px;
  background-color: var(--button-background-color);
  border: none;
  cursor: pointer;
}

.product__item__button_in_cart {
  color: var(--orange-star-color);
}
