:root {
  --main-black-color: #000;
  --main-white-color: #fff;
  --main-backgroung-gray-color: #f5f5f5;
  --main-goldenrod-color: #daa520;
  --orange-star-color: #ffb547;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-black-color);
  background: var(--main-white-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-inter);
  font-size: 16px;
  line-height: 1.15;
  font-weight: 400;
}

nextjs-portal {
  display: none !important;
}
