.checkout__wrapper {
  display: grid;
  grid-template-areas:
    'cart'
    'data';
  @media screen and (min-width: 1440px) {
    grid-template-areas: 'data cart';
    grid-template-columns: 720px 1fr;
    column-gap: 40px;
  }
}

.checkout__data__wrapper {
  grid-area: data;
}

.checkout__cart {
  grid-area: cart;
}

.checkout__form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.checkout__comment {
  box-sizing: border-box;
  height: 90px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: var(--auto-fill-light-dark);
}

.checkout__submit__button {
  width: 250px;
  height: 35px;
  padding: 5px;
  color: white;
  text-align: center;
  border-radius: 6px;
  background-color: var(--button-background-color);
  border: none;
  cursor: pointer;
}
