.breadcrumbs {
  grid-area: breadcrumbs;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 10px 10px 5px;
}

.breadcrumbs__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.breadcrumbs__icon {
  width: 16px;
  height: 16px;
}

.breadcrumbs__product {
  cursor: default;
}
