.groups_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
  gap: 30px;
  border-bottom: 4px solid lightgray;
}

.group_item {
  position: relative;
  /* width: 250px; */
  /* height: 220px; */
  width: 150px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  &:hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    scale: 1.1;
  }
}

.group_item__image {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  object-fit: cover;
}

.group_item__text {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--main-white-color);
  /* border-radius: 0 0 7px 7px; */
  border-radius: 7px;
  background: rgba(12, 14, 15, 0.5);
  opacity: 1;
}
