.product_page {
  display: grid;
  grid-template-columns: 700px 1fr;
  grid-template-rows: 50px 2fr;

  grid-template-areas:
    'breadcrumbs breadcrumbs'
    'viewer product';
  column-gap: 10px;
}

.product_page__viewer {
  grid-area: viewer;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 600px 1fr;
  grid-template-areas: 'thumbs picture';
  column-gap: 10px;
}

.product_page_viewer__image {
  grid-area: picture;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
