.cart_wrapper {
  padding-left: 40px;
}

.cart__title {
  margin-bottom: 5px;
  background-color: var(--main-backgroung-gray-color);
}

.cart {
  display: flex;
  flex-direction: column;
}

.cart__total {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 10px 275px 10px 0;
  font-size: 22px;
  font-weight: 600;
}

.cart__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 100px 10px 20px;
}

.cart__button {
  width: 250px;
  height: 35px;
  padding: 5px;
  color: white;
  text-align: center;
  border-radius: 6px;
  background-color: var(--button-background-color);
  border: none;
  cursor: pointer;
}

.cart__control__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.clear__cart__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
