.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 46px;
}

.nav__link {
  font-size: 16px;
  font-weight: 500;
  color: var(--goldenrod-color);
  text-decoration: none;
  &:hover {
    color: var(--orange-star-color);
  }
}
