.header {
  position: sticky;
  z-index: 100;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 355px;
  height: 40px;
  padding-top: 24px;
  padding-bottom: 34px;
  background-color: var(--main-white-color);
  box-shadow: 0px 2px 0px 0 rgb(0, 0, 0, 0.25);

  @media screen and (min-width: 768px) {
    width: 748px;
  }

  @media screen and (min-width: 1440px) {
    width: 1420px;
  }
}

.header__logo__link {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 2px;
  text-decoration: none;
}

.header__contacts {
  position: absolute;
  top: 75px;
  left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  @media screen and (min-width: 768px) {
    left: 95px;
  }

  @media screen and (min-width: 1440px) {
    left: 230px;
  }
}

.header__contacts__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.header__logo__text {
  font-weight: 600;
  font-size: 16px;
  color: var(--goldenrod-color);

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1440px) {
    display: unset;
    font-size: 28px;
  }
}

.header__contacts__messenger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
  text-decoration: none;
}

.header__buttons {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.header__mobile__search {
  border: none;
  color: var(--main-black-color);
  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover {
    color: var(--orange-star-color);
  }
}
