.checkout__inputs__wrapper {
  display: flex;
  flex-direction: column;
  width: 375px;
  padding-left: 10px;
  padding-right: 10px;

  gap: 10px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    width: 720px;
  }
}
